
<style type="text/css">
    span {
        color: #0F83E8;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
    }
</style>
<span style='color: #0F83E8; font-family: "Open Sans",sans-serif; font-size: 25px'>
    {{ user.getName }}, Your command has been proceed
</span>
</br>
<div>
    <div style="width: max-content; height: {{60}}">
        <p style="color: #0F83E8">totalAmount: <b style="color: #6c757d">{{ totalAmount }}</b></p>
    </div>
    <div style="width: max-content; height: {{60}}">
        <p style="color: #0F83E8">totalAmount: <b style="color: #6c757d">{{ totalAmount }}</b></p>
    </div>
</div>

    <img src="{{ img }}" width="300" height="300"  />







